.r-1{
    margin-top:50px !important;
}
.ci-2{
   position: relative;
   top:120px;
   left:155px;
}
.ci-3{
    position: relative;
    left:200px;
    bottom:60px;
}
.ci-4{
    position: relative;
    bottom: 165px;
}
.ci-5{
    position: relative;
    bottom:245px;
    right:215px;
}
.ci-6{
    position: relative;
    left:205px;
    bottom:435px;
}
.ci-7{
    position: relative;
    bottom:525px;
}
.lg{
    color: #42e8e0;
    position: absolute;
    top:75px;
    left:593px;
}
.par1{
    color: #42e8e0;
    position: absolute;
    bottom:-1440px;
    left:710px !important;
}
.parsub1{
    position: absolute;
    bottom:-1525px;
    left:685px!important;
    font-size: 12px;
}
.par2{
    color: #42e8e0;
    position: absolute;
    bottom: 110px !important;
    left: 230px !important;
}
.parsub2{
    position: absolute;
    bottom: 30px !important;
    left: 210px !important;
    font-size: 12px;
}
.par3{
    color: #322359;
    position: absolute;
    bottom: 120px !important;
    left:592px !important;
}
.parsub3{
    color: #322359 !important;
    position: absolute;
    bottom:30px !important;
    left:577px !important;
    font-size: 12px;
}
.par4{
    color: #42e8e0;
    position: absolute;
    bottom: 120px !important;
    left:580px !important;
}
.parsub4{
    position: absolute;
    bottom: 30px !important;
    left:570px !important;
    font-size: 12px;
}
.par5{
    color: #42e8e0;
    position: absolute;
    bottom:130px !important;
    left:620px !important;
}
.parsub5{
    position: absolute;
    bottom: 30px !important;
    left:575px !important;
    font-size: 12px;
}
.par6{
    color: #42e8e0;
    position: absolute;
    bottom: 130px !important;
    left:595px !important;
}
.parsub6{
    position: absolute;
    bottom: 30px !important;
    left:570px !important;
    font-size: 12px;
}
.circle2{
    position: absolute;
    bottom:-1px !important;
    left:180px !important;
}

.adds{
    width: 267px;
    height:480px;
    border:2px solid #42e8e0;
    border-right:0.5px;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
}
.mails{
    border-left:0.5px;
    border:2px solid #42e8e0;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
}
.wayses{
    border:1px solid #6d0dac;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}

@media screen and (max-width:540px){
    .wavecnts h1{
        padding-top:-60px!important;
        font-size:40px!important;
        padding-left:15px!important;
    }
    .wavecnts p{
        padding-left:15px!important;
    }
    .two-bt{
        height:40px!important;
        width:70!important;
        margin-left:8%!important;
    }
    .get{
        height:40px!important;
        width:70!important;
        margin-left:6%!important;
    }
    .watchbtn{
        margin-top:5%!important;
        margin-left:35%!important;
    }
    .watchbtn p{
        padding-top:24%!important;
        padding-left:55%!important;
    }
    .ht2{
        margin-top:-19%!important;
    }
    .ln1{
        margin-top:8%!important;
    }
    .wrd h1{
        margin-top:-8%!important;
        font-size:45px!important;
    }
    .circlerectangle img{
        margin-top:10%!important;
    }
    .ln2{
        margin-top:25%!important;
    }
    .quantam img{
        margin-left:135px!important;
        margin-top:-20%!important;
        height:180px!important;
        width:250px!important;
    }
    .ttns h1{
        /* margin-left:120px!important; */
        font-size:32px!important;
    
    }
    .ttns p{  
        display:flex;
        text-align:center;
        justify-content: center;
        /* margin-left:120px!important; */
        font-size:11px!important;
    }
    .sop{margin-left:58%!important;}
    .bbts{
        margin-left:10%!important;
    }
    .bmx{margin-left:5%!important;}
    .bitfixrow{
        margin-left:-118px!important;
    }
    .highestrow h1{
        font-size:40px!important;
    }
    .firbxs{
        margin-left:-10px!important;
        height:90px!important;
        width:300px!important; 
    }
    .firbxs h6{
        font-size:13px!important;
    }
    .firbxs p{
        font-size:9px!important;
    }
    .secbxs{
        margin-left:-10px!important;
        height:95px!important;
        width:300px!important;
    }
    .secbxs h6{
        font-size:14px!important;
       
    }
    .secbxs p{
        font-size:9px!important;
    }
    .arrbx{
        height:90px!important;
        width:60px!important;
       margin-left:84%!important;
      margin-top:-90px!important;
    }
    .arrbx2{
        height:95px!important;
        width:60px!important;
       margin-left:84%!important;
      margin-top:-95px!important;
    }
    .arrbx3{
        height:95px!important;
        width:60px!important;
       margin-left:84%!important;
      margin-top:-95px!important;
    }
    .wavephone img{
        margin-top:15%!important;
        height:230px!important;
        width:325px!important;
    }
    .explorerow h1{
        font-size:40px!important;
    }
    .exp img{
        width:15rem;
    }
    .tight h1{
        font-size:40px!important;
    }
    .tradewords h1{
        font-size:40px!important;
        margin-left:-70px!important;
    }
    .thrr{
        margin-left:-24px!important;
    }
    .startwords h1{
        font-size:40px!important;
        margin-left:-70px!important;
    }
    .startwords p{
        margin-left:-70px!important;
    }
    .best h1{font-size:40px!important;margin-top:-18%!important;}
    .best{
        margin-top:25px!important;
        margin-left:-45%!important;
    }
    .trustedrow h1{
        margin-top:-10%!important;
        font-size:40px!important;
    }
    .tradind h1{
        margin-top:-40%!important;
        font-size:39px!important;
    }
    .tradind p{
        margin-left:4%!important;
    }
    .build h1{
        margin-left:2%!important;
        font-size:40px!important;
    }
    .sheildbox{
        margin-top:19%!important;
    }
    .sheildbox,.bitcoin,.manbox{
        width:180px!important;
        height:190px!important;
        margin-left:22%!important;
    }
    .bitcoin{
        margin-top:28px!important;
        margin-left:75px!important;
    }
    .blackbx11{
        margin-left:25%!important;
        margin-top:10px!important;
    }
   .blackbx22{
    margin-left:25%!important;
    margin-top:20px!important;
   }
   .ins{
    margin-left:4%!important;;
    width:330px!important;
   }
   .wayses{
    height:300px!important;
    width:500px!important;
   }
   .pipe{
    margin-top:50px!important;
    margin-left:10px!important;
    height:180px!important;
    width:300px!important;
   }
   .pusrse img{
    margin-left:2px!important;
    margin-top:-370px!important;
    width:40px!important; height:40px!important;
   }
   .pusrse h3{
    font-size:10px!important;
    margin-top:-170px!important;
   }
   .pusrse p{
    font-size:7px!important;
   }
   .admins img{
    margin-left:120px!important;
    margin-top:-405px!important;
    width:60px!important; height:60px!important;
   }
   .admins h3{
    font-size:10px!important;
    margin-left:130px!important;
    margin-top:-190px!important;
   }
   .admins p{
    font-size:7px!important;
    margin-left:110px!important;
   }
   .wallet img{
    margin-left:240px!important;
    margin-top:-435px!important;
    width:60px!important; height:60px!important;
   }
   .wallet h3{
    font-size:10px!important;
    margin-top:-200px!important;
    margin-left:242px!important;
   }
   .wallet p{
    font-size:7px!important;
    margin-top:-2px!important;
    margin-left:225px!important;
   }
   .linus img{
    margin-left:200px!important;
    margin-top:-145px!important;
    width:45px!important; height:45px!important;
   }
   .linus h3{
    font-size:10px!important;
    margin-top:-60px!important;
    margin-left:210px!important;
   }
   .linus p{
    font-size:7px!important;
    margin-top:2px!important;
    margin-left:180px!important;
   }
   .expand h1{
    font-size:40px!important;
   }
   .firpurbx{
    margin-top:-20%!important;
    margin-left:20px!important;
   }
   .neonbx{
    margin-left:8%!important;
    margin-top:10%!important;
   }
   .ccmm{
    margin-left:15%!important;
    height:225px!important;
    width:255px!important;
   }
   .bin,.coinn,.autr{
    margin-left:35%!important;
   }
   .bmc{
    margin-left:35%!important;
    padding-top:2px!important;
    padding-bottom:2px!important;
   }
   .sier{
    margin-left:35%!important;
    padding-top:5px!important;
   }
   .look h1{
    margin-top:-9%!important;
    font-size:39px!important;
   }
   .freq h1{
    margin-top:-7%!important;
    font-size:40px!important;
   }
   .firstplubx li{
    margin-top:-5%!important;
    margin-left:8%!important;
    font-size:10px!important;
    height:53px!important;
    width:250px!important;
    padding-bottom:15px!important;
   }
   .plusimg{
    margin-top:-12%!important;
    margin-left:-125%!important;
    width:20px!important; height:20px!important;
   }
   .whowe h1{
    margin-left:19%!important;
   }
   .whowe p{
    margin-left:4%!important;
   }
   .whatwe h1{
   margin-left:19%!important;
   }
   .whatwe p{
    margin-left:4%!important;
   }
   .laprowimg{
    margin-top:-10!important;
   }
   .whyus h1{
    margin-left:-8%!important;
   }
   .ourser h1{
    margin-left:-8%!important;
   }
   .ourser p{
    margin-left:4%!important;
   }
   .hu1{
    margin-left:35%!important;
   }
   .hu1h6{
    margin-left:20%!important;
   }
   .hu1p{
    margin-left:20%!important;
   }
   .hu2,.hu3,.hu4,.hu5{
    margin-left:34%!important;
   }
   .hu6{
    margin-left:35%!important;
   }
   .hu6h6{
    margin-left:22%!important;
   }
   .hu6p{
    margin-left:22%!important;
   }
   .hu7,.hu8,.hu9{
    margin-left:33%!important;
   }
   .conus{
    margin-left:-65px!important;

   }
   .adds{
    margin-left:-100px!important;
    height: 300px!important;
   }
   .adds h3{
    margin-left:-175px!important;
    font-size:12px!important;
   }
   .adds p{
    margin-left:-175px!important;
    font-size:8px!important;
   }
   .mails{
    margin-top:-300px!important;
    height:300px!important;
   }
   .nms span{
    height:25px!important;
   }
   .nms input{
    height:25px!important;
   }
   .tdx textarea{
    height:160px!important;
   }
   .circle1,.circle2,.circle3,.circle4,.circle5,.circle6,.circle7{
    height:120px!important;
    width:120px!important;
   }
   .circle2{
    margin-top:-10%!important;
    margin-left:-98%!important;
   }
   .circle3{
    margin-top:17%!important;
    margin-left:-44%!important;
   }
   .circle4{
    margin-top:13%!important;
   }
    .circle5{
        margin-top:9%!important;
        margin-left:50%!important;
    }
    .circle6{
        margin-top:38%!important;
        margin-left:-115%!important;
    }
    .circle7{
        margin-top:-25%!important; 
        margin-left:69%!important;  
    }
   .fourtrow{
    margin-top:10%!important;
   }
   .par1,.par2,.par3,.par4,.par5,.par6{
    font-size:10px!important;
   }
   .parsub1,.parsub2,.parsub3,.parsub4,.parsub5,.parsub6{
    font-size:8px!important;
   }
   .par1{
    margin-top:65px!important;
    margin-left:-197%!important;
   }
   .mbapp{
    margin-left:8%!important;
    height:250px!important;
    width:300px!important;
   }
   .mbapp img{
    margin-left:40%!important;
    width:50px!important;
    height:110px!important;
   }
   .mbapp h1{
    margin-left:37%!important;
    margin-top:-15%!important;
    font-size:15px!important;
   }
   .mbapp p{
    font-size:12px!important;
   }
   .blackbx1{
    margin-left:1%!important;
   }
   .blackbx1 img{
    margin-top:-10%!important;
    margin-left:2%!important;
    height:30px!important;
    width:30px!important;
   }
   .blackbx1 p{
    padding-top:6%!important;
    font-size:11px!important;
   }
   .blackbx2 img{
    margin-top:-4%!important;
    margin-left:4%!important;
    height:35px!important;
    width:30px!important;
   }
   .blackbx2 p{
    padding-left:2%!important;
    padding-top:6%!important;
    font-size:11px!important;
   }
   .mbapp2{
    margin-left:8%!important;
    height:250px!important;
    width:300px!important;
   }
   .mbapp2 img{
    margin-left:30%!important;
    width:130px!important;
    height:110px!important;
   }
   .mbapp2 h1{
    margin-left:37%!important;
    margin-top:-15%!important;
    font-size:15px!important;
   }
   .mbapp2 p{
    font-size:12px!important;
   }
   .visit{
    margin-left:32%!important;
   }
   .mbapp3{
    margin-left:8%!important;
    height:250px!important;
    width:300px!important;
   }
   .mbapp3 img{
    margin-left:30%!important;
    width:130px!important;
    height:150px!important;
   }
   .mbapp3 h1{
    margin-left:44%!important;
    margin-top:-8%!important;
    font-size:15px!important;
   }
   .mbapp3 p{
    font-size:12px!important;
   }
   .exmt{
    margin-left:30%!important;
   }
   .bttt{
    margin-top:10px!important;
    display:flex!important;
    flex-direction: column-reverse!important;
   }
   .twwdd{
    display:flex!important;
    flex-direction:column-reverse!important;
   }
}
